*, *::before, *::after{
    box-sizing: border-box;
}

body{
    justify-content: center;
    align-items: center;
    width: 100vw;
    margin: 0;
    background-color: hsl(180, 7%, 15%);
    color: white;

}


#table_wording {
    color: white;

}  

tr:hover {
    background-color: white;
    color: black;
    font-size: 20px;
}